html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit; 
    margin: 0;
    padding: 0;   
}

body {
    
    overflow-x: hidden; 
}



@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    // justify-content: center;
    align-items: center;
    
}